{% extends 'duome_base.html' %}
{% block page_title %}
	{{ title }}
{% endblock %}

{% block main_body %}
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h2>文章归档</h2>
		</div>
	</div>
</div>
{% if articles %}
<div class="row">
	<div class="col-lg-8">
		<div class="list-group">
			{% for article in articles %}
			<a href="{% url 'duome:post' article.uuid %}" class="list-group-item"> 
				<span class="badge">{{ article.views }}</span> 
				<span class="badge">{{ article.pub_date }}</span> 
				<span class="badge">{{ article.category.name }}</span> 
				{{ article.title }} 
			</a>
			{% endfor %}
		</div>
	</div>
		<div class="col-lg-4">
		<div class="panel panel-default">
  			<div class="panel-heading">博客目录</div>
			<div class="list-group">
				{% if categories %}
				{% for category in categories %}
				<a href="{% url 'duome:category' category.simple_name %}" class="list-group-item">
					<span class="badge">{{ category.nums }}</span>
					{{ category.name }}
				</a>
				{% endfor %}
				{% else %}
				<a href="#" class="list-group-item">
					<span class="badge">0</span>
					<h4 class="list-group-item-heading">对不起, 博客目录为空. 请前往管理中心添加吧!</h4>
					<p class="list-group-item-text">Soory, There isn't Blog can load.</p> 
				</a>
				{% endif %}
			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-heading">阅读排行</div>
			<div class="list-group">
				{% if top_articles %}
				{% for article in top_articles %}
				<a href="{% url 'duome:post' article.uuid %}" class="list-group-item">
					<span class="badge">{{ article.views }}</span>
					{{ article.title }}
				</a>
				{% endfor %}
				{% else %}
				<a href="#" class="list-group-item">
					<span class="badge">0</span>
					<h4 class="list-group-item-heading">对不起, 当前站点还没有发布过博客. 请前往管理中心添加吧!</h4>
					<p class="list-group-item-text">Soory, There isn't Blog can load.</p> 
				</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="row">
	<div class="col-lg-12">
		<div class="well">
			<h4>对不起, 当前站点还没有发布过博客. 请前往管理中心添加吧!</h4>
		</div>
	</div>
</div>
{% endif %}
 
{% endblock %}