{% extends 'zhaokao_base.html' %}
{% block page_title %}
{{ page_title }}
{% endblock %}

{% block main_body %}

<div class="row">

{% if jurisdiction %}
<div class="col-lg-12">
	<div class="panel panel-default">
  		<div class="panel-heading">地区导航</div>
    	<div class="panel-body">
		{% for juris in jurisdiction %}
		  	<a href="{% url 'zhaokao:category' juris.area_code %}" style="margin:2px 0px" class="btn btn-success btn-sm">{{ juris.area }}</a>
		 {% endfor %}
  		</div>
	</div>
</div>
{% else %}

{% endif %}

{% if items %}
<div class="col-lg-12">
	<div class="panel panel-default">
  		<div class="panel-heading">{{ page_title }} - 招考资讯</div>
    		<div class="list-group">
			{% for item in items %}
		  	<a target="_blank" href="{% url 'zhaokao:view' item.link %}" class="list-group-item">
		  		<span class="badge">{{ item.up_date }}</span>
		  		<span class="badge">{{ item.city }}</span>
		    	{{ item.title }}
		  	</a>
		  	{% endfor %}
		  	</div>
  		</div>
	</div>
</div>
{% else %}

{% endif %}

{% if pagination_code %}
{{ pagination_code | safe }}	
{% endif %}
</div>
{% endblock %}