{% extends 'zhaokao_base.html' %}
{% block page_title %}
{{ page_title }}
{% endblock %}

{% block main_body %}
<div class="panel panel-default">
  <div class="panel-heading">
    免责声明
  </div>
  <div class="panel-body">
    本站所有内容均来自于互联网, 我们尽可能的保证信息的准确性.
	<br />
	如果您发现有不准确的情况, 请查询对应的官方招考信息.
	<br />
	如果您认为我们的信息有侵权的, 请及时联系网址管理员进行删除.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    联系我们
  </div>
  <div class="panel-body">
    Master@Hainuer.com
  </div>
</div>
{% endblock %}