{% extends 'kume_base.html' %}
{% block title %}
	{{ title }}
{% endblock %}
{% block contents %}

{% if article %}
<div class="col-sm-12" id="featured">
	<ol class="breadcrumb page-header">
		<li>
			<a href="{% url 'kume:index' %}">主页</a>
		</li>
		<li>
			<a href="{% url 'kume:category' article.category.simple_name %}">{{ article.category.name }}</a>
		</li>
		<li class="active">
			{{ article.title }}
		</li>
	</ol>
</div>

<div class="row">
	<div class="col-sm-12">
		<h3>{{ article.title }}</h3>
		<h4><small class="text-muted">{{ article.pub_date }} • <a href="{% url 'kume:category' article.category.simple_name %}" class="text-muted">{{ article.category.name }}</a> • 热度: {{ article.views }}'C</small></h4>
		<hr>
		{{ article.content | safe }}
	</div>
</div>
{% else %}

{% endif %}
{% endblock %}