<!DOCTYPE HTML>{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>主页 - 夏日午后 · 忘记行走</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="夏日午后 忘记行走 Phoenix Hainuer">
		<meta name="author" content="Phoenix Pham">
		<!-- Styles -->
		<link href="{% static "css/home/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "css/home/style.css" %}" rel="stylesheet">
		<link rel='stylesheet' id='prettyphoto-css' href="{% static "css/home/prettyPhoto.css" %}" type='text/css' media='all'>
		<link href="{% static "css/home/fontello.css" %}" type="text/css" rel="stylesheet">
		<!--[if lt IE 7]>
			<link href="{% static "css/home/fontello-ie7.css" %}" type="text/css" rel="stylesheet">
		<![endif]-->
		<!-- Useso Web fonts -->
	    <link href='http://fonts.useso.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    	<link href='http://fonts.useso.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    	<link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
		<link href="{% static "css/home/bootstrap-responsive.css" %}" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
		<![endif]-->
		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
		<!-- JQuery -->
		<script type="text/javascript" src="{% static "scripts/home/jquery.js" %}"></script>
		<!-- Load ScrollTo -->
		<script type="text/javascript" src="{% static "scripts/home/jquery.scrollTo-1.4.2-min.js" %}"></script>
		<!-- Load LocalScroll -->
		<script type="text/javascript" src="{% static "scripts/home/jquery.localscroll-1.2.7-min.js" %}"></script>
		<!-- prettyPhoto Initialization -->
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$("a[rel^='prettyPhoto']").prettyPhoto();
			});
		</script>
	</head>
	<body>
		<div class="navbar-wrapper">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
							<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
						</a>
						<h1 class="brand"><a href="#top">Hainuer</a></h1>
						<nav class="pull-right nav-collapse collapse">
							<ul id="menu-main" class="nav">
								<li>
									<a title="portfolio" href="#portfolio">Apps</a>
								</li>
								<li>
									<a target="_blank" href="/kume/">Kume</a>
								</li>
								<li>
									<a target="_blank" href="/duome/">Duome</a>
								</li>
								<li>
									<a target="_blank" href="/zhaokao/">ZhaoKao</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		
		<div id="top"></div>
		
		<div id="headerwrap">
			<header class="clearfix">
				<h2>
					<br/><br/><br/>
					<span>夏日午后 · 忘记行走</span>
					<br/><br/>
					Summer Afternoon, Forget Walking.
				</h2>
			</header>
		</div>

		<section id="portfolio" class="single-page scrollblock">
			<div class="container">
				<div class="align">
					<i class="icon-desktop-circled"></i>
				</div>
				<h1 id="folio-headline">Apps</h1>
				<div class="row">
					<div class="span3">
						<div class="mask2">
							<a href="{% static "images/kume.png" %}" rel="prettyPhoto"><img src="{% static "images/kume.png" %}" alt=""></a>
						</div>
						<div class="inside">
							<hgroup>
								<h2>Kume 博客</h2>
							</hgroup>
							<div class="entry-content">
								<a class="more-link" href="/kume/">View Kume</a>
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="mask2">
							<a href="{% static "images/duome.png" %}" rel="prettyPhoto"><img src="{% static "images/duome.png" %}" alt=""></a>
						</div>
						<div class="inside">
							<hgroup>
								<h2>Duome 博客</h2>
							</hgroup>
							<div class="entry-content">
								<a class="more-link" href="/duome/">View Duome</a>
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="mask2">
							<a href="{% static "images/zhaokao.png" %}" rel="prettyPhoto"><img src="{% static "images/zhaokao.png" %}" alt=""></a>
						</div>
						<div class="inside">
							<hgroup>
								<h2>ZhaoKao 贵州招考资讯网</h2>
							</hgroup>
							<div class="entry-content">
								<a class="more-link" href="/zhaokao/">View ZhaoKao</a>
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="mask2">
							<a href="{% static "images/under.png" %}" rel="prettyPhoto"><img height="80%" src="{% static "images/under.png" %}" alt=""></a>
						</div>
						<div class="inside">
							<hgroup>
								<h2>未完, 待续...</h2>
							</hgroup>
							<div class="entry-content">
								<a class="more-link" href="/">View Hainuer</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<hr>
		<div class="footer-wrapper">
			<div class="container">
				<footer>
					<small>&copy; 2015 Phoenix @ <a href="/">Hainuer</a> . All rights reserved.</small>
				</footer>
				<br />
			</div>
		</div>
		
		<!-- Loading the javaScript at the end of the page -->
		<script type="text/javascript" src="{% static "scripts/home/bootstrap.js" %}"></script>
		<script type="text/javascript" src="{% static "scripts/home/jquery.prettyPhoto.js" %}"></script>
		<script type="text/javascript" src="{% static "scripts/home/site.js" %}"></script>
	</body>
</html>
